.grid-view {
    width: 100%;
    border-collapse: collapse;
}
.grid-view {
    width: 100%;
    border-collapse: collapse;
}

.grid-view th {
    background-color: #f2f2f2;
    text-align: center;
    font-weight: bold;
}

.grid-view tr:nth-child(even) {
    background-color: #f9f9f9;
}

.grid-view tr:nth-child(odd) {
    background-color: #ffffff;
}

.grid-view td, .grid-view th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.header-center, .item-center {
    text-align: center;
}

.header-left, .item-left {
    text-align: left;
}

.header-right, .item-right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.item-right {
    padding-right: 10px;
}

.navbar-nav .nav-item .nav-link-button,
.navbar-nav .nav-item .nav-link-button:hover {
    background: none;
    border: none;
    color: #333; /* Gris oscuro para un buen contraste con el blanco */
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 0;
    display: inline-block;
}

.navbar-nav .nav-item .nav-link-button:hover {
    color: #000;
    text-decoration: underline;
}

