.grid-view {
    width: 100%;
    border-collapse: collapse;
}
.grid-view {
    width: 100%;
    border-collapse: collapse;
}
/*body {
    background-color: #FFFFFF;*/ /* Fondo blanco */
    /*color: #0C0C09;*/ /* Texto negro */
    /*font-family: Arial, sans-serif;
}*/
.grid-view th {
  
    background-color: #D3D0CB; 
    text-align: center;
    font-weight: bold;
    color: #0C0C09;
}

.grid-view tr:nth-child(even) {
    background-color: #f9f9f9;
}

.grid-view tr:nth-child(odd) {
    background-color: #ffffff;
}

.grid-view td, .grid-view th {
    border: 1px solid #0C0C09;
    padding: 5px;
    text-align: center;
}

.header-center, .item-center {
    text-align: center;
}

.header-left, .item-left {
    text-align: left;
}

.header-right, .item-right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.item-right {
    padding-right: 10px;
}


.navbar {
    background-color: #0C0C09; 
    border-bottom: 2px solid #EF3E36; 
}

    .navbar .navbar-brand {
        color: #FFFFFF; 
        font-weight: bold;
    }

        .navbar .navbar-brand:hover {
            color: #EF3E36; 
        }

.navbar-nav .nav-item .nav-link {
    color: #FFFFFF; 
    padding: 10px 15px;
}

    .navbar-nav .nav-item .nav-link:hover {
        color: #EF3E36; 
        background-color: #D3D0CB; 
        border-radius: 5px;
    }


.navbar-nav .nav-item .nav-link-button,
.navbar-nav .nav-item .nav-link-button:hover {
    background: none;
    border: none;
    color: #FFFFFF; 
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 0;
    display: inline-block;
}

    .navbar-nav .nav-item .nav-link-button:hover {
        color: #EF3E36; 
        text-decoration: underline;
    }


/*footer {
    background-color: #0C0C09; 
    color: #FFFFFF; 
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid #EF3E36;
}
*/